html, body {
  overflow: hidden;
}

.flipbook-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  margin-top: 30px;
}

.flipbook {

  margin-bottom: 20px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 flipbook 크기에 맞게 조정됨 */
}

.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0056b3;
}

.page-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.page-input {
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.go-button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.go-button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .flipbook-container {
    padding: 10px;
  }

  .flipbook {
    max-width: 100%;
    max-height: 90vh;
  }

  .nav-button, .go-button {
    padding: 5px 10px;
  }

  .page-info {
    font-size: 14px;
  }
}

@media (max-width: 448px) {
  .flipbook {
    max-width: 100%;
    max-height: 85vh;
  }
}
